.header {
    /* border: 1px solid red; */

}

.header__block {
    max-width: 1200px;
    margin: 0 auto;
    min-width: 1000px;
    border: 1000px;
}

.header__nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


/*====================   logo 區域  ====================*/

.header-logo img {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.header__nav-list {
    display: flex;
}

.header__nav_li {
    /* border: 1px solid orange; */
    display: block;
    font-size: 20px;

    /* background-color: #fff; */
    /* border: 1px solid #8ECFD2; */
    margin: 0 10px;
    position: relative;
    height: 40px;
    line-height: 40px;
    /* padding: 0 10px; */
}

/* a連結 */


.header__nav_li-link {
    display: inline-block;
    /* height: 40px;
    line-height: 40px; */
    text-decoration: none;
    color: #8ECFD2;
    padding: 0 10px;
    border: 1px solid #8ECFD2;
    border-radius: 8px;
    cursor: pointer;
}

/* 註冊鍵設定 */
.header__nav_li-link.-register {
    color: #FFDB9D;
    border: 1px solid #FFDB9D;
}

.header__nav_li-link.-register:hover {
    border-radius: 8px;
    background: var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 4px 0px #FFDB9D;
}

.header__nav_li-link.-register::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("../../images/house.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;

}

.header__nav_li-link.-active {
    background-color: #8ECFD2;
    color: #fff;
    pointer-events: none;
    opacity: 1;

}

.header__nav_li-link.-register.-active {
    background-color: #FFDB9D;
    color: #fff;
    pointer-events: none;
    opacity: 1;
}

/* 是否能成功 */
.header__nav_li-link.-register.-active::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("../../images/house_white.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}


.header__nav_li.-special_function {
    color: #8ECFD2;
}

.header__nav_li-link:hover {
    border-radius: 8px;
    background: var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 4px 0px #8ECFD2;
}

.header__sub-ul {
    opacity: 0;
    transition: opacity .4s;
}

.header__nav_li:hover .header__sub-ul {
    opacity: 1;
}


/* -------------------------------------------------小文字排-------------------------------------- */

.header__sub-ul {
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    /* z-index: 1; */
    white-space: nowrap;
    transform: translateX(-50%);
    margin-top: 2px;
    /* display: none; */
}


.header__sub-ul.-active {
    opacity: 1;
}

.header__sub-li-link {
    color: #8ECFD2;
    font-size: 16px;
    text-decoration: none;
}

.header__sub-li {
    color: #919191;
    font-size: 20px;
}

.header__sub-li:not(:last-child)::after {
    content: "|";
    font-size: 16px;

}